{% extends "base.html" %} {% block main %}
<h2>Welcome, {{ current_user.username}}</h2>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}

  <p>
    {{ form.app_name.label }} {{ form.app_name(size=32) }} <br />
    {% for err in form.app_name.errors %}
    <span style="color: red">[{{ err }}]</span>
    {% endfor %}
  </p>

  <p>
    {{ form.username.label }} {{ form.username(size=32) }} <br />
    {% for err in form.username.errors %}
    <span style="color: red">[{{ err }}]</span>
    {% endfor %}
  </p>

  <p>
    {{ form.characters.label }} {{ form.characters(size=32) }} <br />
    {% for err in form.characters.errors %}
    <span style="color: red">[{{ err }}]</span>
    {% endfor %}
  </p>

  <p>
    {{ form.url.label }} {{ form.url(size=32) }} <br />
    {% for err in form.url.errors %}
    <span style="color: red">[{{ err }}]</span>
    {% endfor %}
  </p>

  {{ form.remember() }} {{ form.remember.label() }} <br />
  {{ form.generate() }}
</form>

{% endblock main %}
